@model TSAIdentity.Models.Organization

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationPassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ChangePassword" asp-route-id="@Model?.OrganizationId">Change Password</a>
</div>
