@model TSAIdentity.Models.Tasks

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isassigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isassigned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skill.SkillName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedEmployee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedEmployee.EmployeeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization.OrganizationName)
        </dd>
    </dl>
</div>
<div>
    @if (!Model.isassigned)
    {
        <a asp-action="Edit" asp-route-id="@Model?.TaskId">Edit</a>@: |
    }
</div>
